.App {
  color: #ffffff;
  width: 50%;
  text-align: center;
  border: 4px solid orange;
  box-shadow: 0.5rem 0.5rem 1rem #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #636e72;
  justify-content: space-around;
  padding: 10px;

  &__button {
    border: 2px solid orange;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    &:hover{
      background-color: cornflowerblue;
    }
  }
}

.person {
  border: 4px solid orange;
  margin: 10px;
  padding: 10px;

  &__name {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}